@import "./variables";
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark;
  // scroll-behavior: auto;
}

ul li:last-child a {
  background-color: $primary;
  &:hover {
    background: $primary-hover;
  }
}

nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}

.size {
  background: $secondary;
}

.add-to-cart {
  border: 2px solid $primary;
  color: $primary;
  &:hover {
    background: $primary;
    border-color: $pure;
    color: $pure;
    transition: $smooth;
  }
}

.btn-primary {
  background: $primary;
  transition: $smooth;
  &:hover {
    background: $primary-hover;
  }
}

section.cart {
  background-color: $secondary;
  .amount {
    color: $primary;
  }
}

.submit-btn {
  background-color: $primary;
  &:hover {
    background: $primary-hover;
  }
}

.forgot-pswd {
  color: $primary;
}
